body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



a{
    text-decoration: none;
}
.container{
    width: 100%;
    height: auto;
   /* background-color: red; */
}

.nav-bar{
    display: flex;
    width: 100%;
    height: 100px;
    background-color:white;
    font-size: 1.2em;
}

.logo{
    width: 30%;
    height: 100%;
    /* background-color: rgb(206, 189, 189); */
    position: relative;
    left: 1em;
    cursor: pointer;
}
.logo img{
    width: 60%;
    height: 90%;
}

.nav-menu{

}

.nav-menu ul{
    display: flex;
    position: relative;
    margin-left: 0em;
    text-align: center;  
   
}

.nav-menu ul li{
    margin-left: 2em;
    list-style-type: none;
    position: relative;
    top: 0.5em;
    color: rgb(54, 54, 54);
    cursor: pointer;
    padding:0.3em;
    border-radius: 10px 1px;
    font-size: 1.1em;
    font-stretch:normal;
    font-style: normal;    
}

.nav-menu ul li:hover{
    background-color: rgba(19, 110, 186);
    color: white;
}

.searchDiv{
     align-items: center;
     position: relative;
     left: 3.5em;
     border: solid 0px black;
     height: 10px;
     margin:30px 0px 0px 0px;
}

.searchDiv input{
    padding: 0.4em;
    border-radius: 5px;
    outline: none;
    border-style: none;
    font-size: 0.9em;
    width: 200px;
    background-color: rgb(238, 237, 237);
    border: solid 1.5px rgb(92, 91, 91);
    box-shadow: 0px 0px 1px rgb(85, 79, 79);
}

.searchDiv input:focus{
    border: solid 1.5px rgb(65, 102, 182);
}

.searchDiv button{
    padding: 0.4em;
    font-size: 0.9em;
    border-radius: 5px;
    outline: none;
    border-style: none;
    cursor:pointer;
    background-color: rgba(19, 110, 186);
    color: aliceblue;
}

.containerItem{
   width: 100%;
   height: 500px;
   background-color: rgb(248, 248, 248);
   background-image: url(../assets/5d992303cdbdc.png);
   background-repeat: no-repeat;
   background-size:cover;
   /* background-attachment:fixed; */
   background-position-y:0px;
   position: relative;

}

.containerText{
    width:35%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.768);
    color: white;
    text-align: center;
    position: absolute;
    right:0;
    top: 80px;
    margin-right: 150px;
    margin-top: 20px;
    border-radius: 10px;
    
}

.containerText h3{
    font-size: 2.6em;
    padding-bottom: 0;
    box-sizing: border-box;
    color: black;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
}

.containerText p{
   
    padding: 0px 70px 0px 70px;
    font-size: 1.3em;
    position: relative;
    bottom: 30px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerText button{
    padding: 0.9em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border-style: none;
    cursor:pointer;
    background-color: rgba(19, 110, 186);
    color: aliceblue;
    position: relative;
    bottom: 27px;
}


/* Products rendering css starts here */
.div-of-prods{
    /* background-color: red; */
    margin: 20px;
}



.info-div{
    display: flex;
    width: 100%;
    position: relative;
    top: 13px;
    /* background-color: aqua; */
    /* display: flex; */
}

#cartView{
    position: relative;
    left: 530px;
    /* background-color: red; */
    color: rgba(19, 110, 186);
    cursor: pointer;
    border: solid 0px black;
}

.closeImage{
    position:absolute;
    width: 5%;
    border-radius: 50%;
    cursor: pointer;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

.cartError{
    position: relative;
    background-color: rgb(245, 241, 241);
    width: 50%;
    margin: 50px auto;
    top: 50px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
}

.cartError h4{
    font-size: 1.8em;
    margin-top: 50px;
    padding-top: 80px;
    color:rgb(0, 89, 161);
    text-shadow: 2px 2px 2px rgb(204, 200, 200);   
}

.div-of-prods .caption{
    /* position: relative;   */
    top: 25px;
    margin-left: 120px;
    font-size: 20px;
    /* background-color: blue; */
    width: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-of-prods{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
    
}



.products-info{
    list-style-type: none;
    width: 22%;
    height: 365px;
    box-shadow: 2px 18px  16px rgb(213, 210, 210);
    margin: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
   
    
}

.products-info div{
    position: relative;
    width: 100%;
    border: solid 0px black;
    box-sizing: border-box;
    
}


.products-info div img{
    padding-top: 10px;
   width: 60%;
   height: 40%;
   border-radius: 2px 2px 2px 2px;
}

.product-info-content{
    position: relative;
    width: 100%;
    height: 210px;
    box-sizing: border-box;
}

.product-info-content p{
    font-size: medium;
    font-family:Helvetica, sans-serif;
}

.product-info-content h3{
   color: rgb(26, 24, 24);
}

.products-info div button{
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    padding: 1em;
    font-size: 0.9em;
    cursor:pointer;
    font-weight: bold;
    color: white;
    background-color: rgba(19, 110, 186);
    outline: none;
    border-style: none;
    border-radius: 0px 0px 8px 8px;     
}

/* Back drop overlay starts here */
#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
  }
  
 #backdrop.visible {
    display: block;
    pointer-events: all;
}


/* Cart style Items starts here */
.cart-Container{
    position: fixed;
    z-index: 100;
    border:solid 0px black;
    background: white;
    border-radius: 10px;
    width: 80%;
    overflow-y:auto;
    height: 80%;
    top: 7vh;
    left: 10%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    display: none;
}

.cart-Container.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}
  

/* Cart Text starts here */
.cart-Heading{
    border-bottom: solid 1px rgba(12, 139, 212, 0.692);
    display: flex;
    text-align: center;
    justify-content: center;
}

.cart-Heading h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 120px;
    margin-left: 120px;
}

.individual-products{
    /* background-color: red; */
    border-bottom: solid 1px rgba(12, 139, 212, 0.692);
    /* background-color: rgb(232, 234, 243); */
    height: 118px;
}

.individual-products .delete-img{
    position: absolute;
    width: 2%;
    margin-top: 40px;
    margin-left:10px;
    cursor: pointer;
}

.individual-products .prod-image{
    position: absolute;
    width: 6%;
    margin-left: 56px;
    margin-top: 15px;
}

.individual-products h4{
    position: absolute;
    margin-left: 150px;
    margin-top: 45px;
    font-size: 18px;
}

.individual-products .price{
    position: absolute;
    margin-left: 360px;
    margin-top: 45px;
    font-size: medium;
    color: rgb(206, 12, 12);
}


.individual-products .quantityDiv img{
   width:1.7%;
}

.individual-products .quantityDiv input{
    position: absolute;
    width: 7%;
    padding: 4px 0px 4px 10px;
    margin-left:659px;
    margin-top:40px;
    outline: none;
    border-radius: 10px;
    border-style: none;
    border: solid 1px black;
    font-size: 15px;
}


.individual-products .quantityDiv  .minus{
   position: absolute;
   margin-left:630px;
   margin-top: 43px;
   cursor: pointer;
   
}

.cart-Container > :nth-last-child(2){
    margin-bottom: 100px;
    /* background-color: red; */
}

.individual-products .quantityDiv  .add{
    position: absolute;
    margin-left:739px;
    margin-top: 45px;
    cursor: pointer;
    
 }

 .individual-products .quantity{
    margin-left: 960px;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.cart-footer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:space-around;
    background-color:rgba(19, 111, 186, 0.864);
    height: 50px;
    padding-bottom: 25px;
    margin-top: 150px;
}

.cart-footer h5{
     font-size: 20px;
     
}

.cart-footer .continue-text{
    text-decoration: underline;
    color: rgb(250, 249, 249);
    cursor: pointer;
}
.total-text span{
    color: rgb(247, 241, 241);
    font-size: medium;
    font-size: 1em;
}
.cart-footer .btn-checkout{
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    border-style: none;
    outline: none;
    margin-top:25px;
    background-color: rgba(19, 111, 186, 0.864);
    box-shadow: 2px 2px 5px rgb(32, 32, 32);
    color: white;
    cursor: pointer;
}
/* footer css starts here */
.footer{
   width: 100%;
   height: 50px;
   background-color:  rgba(19, 111, 186, 0.864);
   


}

.footer-div{
    width: 90%;
    height: 50px;
    background-color: rgba(19, 111, 186, 0.864);
    margin-top: 50px;
}